<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ioui/frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>ioui/input.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,104},{33,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,35}</string>
			</dict>
			<key>ioui/press.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,52},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ioui.png</string>
			<key>realTextureFileName</key>
			<string>ioui.png</string>
			<key>size</key>
			<string>{64,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>